@* Tells the view that we expect a question object as the model for this page *@
@model MiniQuizApp.Models.Question

<h2>Create New Question</h2>


<form asp-action="Create" method="post"> @* Form will submit data to the C reate action in the controller using POST method *@
    <div class="form-group"> @* groups together a label, input field, *@
        <label>Question Text</label>
        <input asp-for="Text" class="form-control" /> @* binds input field to a specific property of the model. Simplifies data binding *@
        <span asp-validation-for="Text" class="text-danger"></span> @* provide a spot wher evalidation erros for that specific property will be displayed if there are any issues*@
    </div>

    <div class="form-group">
        <label>Option A</label>
        <input asp-for="OptionA" class="form-control" />
        <span asp-validation-for="OptionA" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Option B</label>
        <input asp-for="OptionB" class="form-control" />
        <span asp-validation-for="OptionB" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Option C</label>
        <input asp-for="OptionC" class="form-control" />
        <span asp-validation-for="OptionC" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Option D</label>
        <input asp-for="OptionD" class="form-control" />
        <span asp-validation-for="OptionD" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Correct Answer</label>
        <input asp-for="CorrectAnswer" class="form-control" />
        <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<a href="/Question">Back to List</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
